<!doctype html>

<!-- ターミナルとナビゲーションボタン -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <!-- タイトルと本文 -->
            <h1 class="fw-light">Picture Gallery</h1>
            <p class="lead text-muted">
                コメントを見て写真に描かれた世界に思いを馳せましょう。
                素敵な写真のコメントをお待ちしています！
            </p>
            <p>
                <!-- ナビゲーションボタン -->
                {% if user.is_authenticated %}
                <!--ログイン中のボタン-->
                <a href="{% url 'picture:post' %}" class="btn btn-primary my-2">投稿する</a>
                <a href="{% url 'account_logout' %}" class="btn btn-secondary my-2">ログアウト</a>
                {% else %}
                <!--ログイン状態ではない場合のボタン-->
                <a href="{% url 'account_signup' %}" class="btn btn-primary my-2">今すぐサインアップ</a>
                <a href="{% url 'account_login' %}" class="btn btn-secondary my-2">登録済みの方はログイン</a>
                {% endif %}
            </p>
        </div>
    </div>
</section>

