<div class="album py-5 bg-light">
  <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- レコードが格納されたobject_listから1行ずつrecordに取り出す -->
      {% for record in object_list %}
      <div class="col">
          <div class="card shadow-sm">
          <!-- svgタグをimgに変更、src属性を追加して1枚目のイメージのURLを設定 -->
          <img src="{{ record.image1.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"/>
              <!-- <svg>~</svg>内の<text>~</text>を削除 -->
          </img>

          <!-- タイトルとボタンを出力するブロック -->
          <div class="card-body">
              <p class="card-text">
              <!-- titleフィールドを出力 -->
              {{ record.title }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                  <!-- 詳細ページを表示するボタン -->
                  <button
                  onclick="location.href='{% url 'picture:picture_detail' record.pk %}'"
                  type="button"
                  class="btn btn-sm btn-outline-secondary">
                  View
                  </button>
                  <!-- カテゴリを表示するボタン -->
                  <button
                    onclick="location.href='{% url 'picture:picture_cat' category=record.category.id %}'"
                  type="button"
                  class="btn btn-sm btn-outline-secondary">
                  {{ record.category.title }}
                  </button>
                  <!-- 投稿したユーザー名を出力 -->
                  <a href="{% url 'picture:user_list' user=record.user.id %}">
                    <small class="text-muted">
                      {{ record.user.username }}
                  </small>
                  </a>
              </div>
              <!-- <small>~</small>のテキストを変更 -->
              <small class="text-muted">
                  {{ record.user.username }}
              </small>
              <!-- 列要素はここまで -->
              </div>
          <!-- 行要素はここまで -->
          </div>
          <!-- グリッドシステムはここまで -->
          </div>
      </div>
      {% endfor %}
      
      </div>
  </div>
</div>